@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400|Material+Icons';

@font-face {
  font-family: Aileron;
  font-weight: 700;
  src: url(../../fonts/Aileron-Bold.otf) format("opentype"); }

@font-face {
  font-family: Aileron;
  font-weight: 400;
  src: url(../../fonts/Aileron-Regular.otf) format("opentype"); }

@font-face {
  font-family: Aileron;
  font-weight: 100;
  src: url(../../fonts/Aileron-UltraLight.otf) format("opentype"); }

@font-face {
  font-family: 'Air Conditioner';
  font-weight: 400;
  src: url(../../fonts/AirConditioner.ttf) format("truetype"); }