//GENERAL
$bodyBackgroundColor: #FFFFFF;

//FONTS
$primaryFontFamily: 'Open Sans';
$secondaryFontFamily: 'Aileron';

//COLORS
$fontColors: (
  black: #262626,
  grey: #999999,
  light_grey: #CCCCCC,
  blue: #4277AF,
  green: #478E47,
  red: #E64746,
  white: #FFFFFF,
  nulltilus: #00ACC1,
  nulltilus_dark: #008796
);