a.mobile-menu {
  display: none;

  position: fixed;
  top: 15px;
  left: 20px;

  z-index: 10000;

  background-color: transparent;

  font-size: 2em;
  color: color(white);
  text-decoration: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

div.mobile-menu-background {
  background-color: color(black);

  opacity: 0.7;

  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9000;

  transition: opacity .3s, visibility .3s;
  visibility: visible;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

nav.mobile-menu-tab {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10000;

  background-color: color(white);

  width: 80%;
  height: 100vh;

  font-size: 1.1em;

  overflow: auto;

  transition: left .3s;

  &.hidden {
    left: -80%;
  }

  & > a.close-menu {
    font-size: 2em;
    padding: 15px 20px;

    text-decoration: none;
  }

  & > ul {
    margin: 0;
    padding: 20px 0 0 0;
    list-style-type: none;

    & > li {

      &:first-child > a {
        border-top: 1px solid transparentize(color(light_grey), 0.7);
      }

      & > a {
        display: block;

        width: 90%;

        padding: 13px 15px;
        margin: 0 auto;

        text-decoration: none;
        
        border-bottom: 1px solid transparentize(color(light_grey), 0.7);

        &.selected {
          color: color(nulltilus);
        }

        &:hover {
          color: color(nulltilus);
        }

        & > i {
          margin-right: 15px;
        }
      }
    }
  }
}

.top-menu {
  padding: 10px 30px;

  position: absolute;
  top: 0;
  right: 0;

  & > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    & > li {
      display: inline-block;
      margin-left: 10px;

      & > a {
        display: block;
        border-radius: 5px;
        padding: 15px 20px;

        color: #fff;
        text-decoration: none;

        transition: all .2s;

        &:hover {
          background-color: #fff;
          color: color(nulltilus);
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}